@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bonheur+Royale&family=Cedarville+Cursive&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Cedarville Cursive', cursive; */
/* font-family: 'Poppins', sans-serif; */
*{
  padding: 0;
  margin:0
}
.cursive{
  font-family: 'Bonheur Royale', cursive;
}
#root{
  height:100vh;
  width:100vw;
  font-family: 'Bebas Neue', sans-serif;
}
.normaltext{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

*::-webkit-scrollbar{
  display: none;
}